.footer {
    padding-top: 15px;
    background-color: var(--main-highlight-color);
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links a {
    color: var(--main-bg-color);
    font-size: 1.3rem;

}
