body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.main {
  display: grid;
  grid-template-rows: 100vh auto auto;
  grid-template-columns: 100%;
  margin-bottom: 40px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
