body {
    font-family: var(--main-text-font);
    font-size: 16px;
    color: var(--main-font-color);
  }
  
  body h1 {
    font-family: var(--main-title-font);
    font-weight: 300;
    color: var(--main-highlight-color);
  }
  